/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5f1e3;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: hsl(270, 4%, 82%);
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.poll-form {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #9e979e9a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poll-form h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-style: italic;
}

.poll-form form {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.poll-form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.poll-form input[type='text'] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.poll-form button {
  padding: 10px 20px;
  background-color: #434cc5;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.poll-form button:hover {
  background-color: #0056b3;
}

.poll-list {
  flex: 1;
  margin-top: 40px;
}

.poll-list h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
}

.poll-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #8a808b;
  box-shadow: 0 4px 8px rgba(29, 17, 17, 0.1);
}

.poll-item h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.poll-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poll-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.poll-option input[type='radio'] {
  margin-right: 10px;
}

.poll-option label {
  flex: 1;
}

.poll-option-votes {
  font-weight: bold;
  flex: 0 0 3rem;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
}
